<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BgRemover</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/index.css') }}">
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
    <section class=""  x-data="{ loading: false, preview: '', result: '' }">
        <div class="container h-screen flex items-center justify-center">
            <div class="flex">
                <div>
                    <div class="img-card">
                        <template x-if="preview">
                            <img
                                x-bind:src="preview"
                                class="img-cover"
                            />
                        </template>
                        <tempalte x-if="!preview">
                            <div class="img-cover flex flex-col items-center justify-center">
                                <h4 class="text-center">Choose and image</h4>
                            </div>
                        </tempalte>
                    </div>
                </div>
                <div>
                    <div class="img-card">
                        <template x-if="result">
                            <img
                            x-bind:src="preview"
                            class="img-cover"
                        />
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>