<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BgRemover</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/index.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>
    <script src="{{ url_for('static', filename='/js/index.js') }}"></script>
</head>
<body>
    <main class="overflow-x-hidden">
        <header class="container">
            <nav class="flex items-center">
                <a href="/" class="logo"><b class="text-primary">Bg</b>Remover.</p></a>
            </nav>
        </header>
        <section class="py-12" x-data>
            <div class="container h-screen flex flex-col  gap-8 items-center justify-center">
                <div class="flex flex-col md-flex-row gap-4">
                    <div class="w-full">
                        <label for="preview" class="card img-card flex flex-col">
                            <template x-if="!!$store?.viewer?.preview">
                                <img
                                    :src="$store.viewer.preview"
                                    class="img-cover"
                                />
                            </template>
                            <template x-if="!$store?.viewer?.preview">
                                <div class="img-cover flex flex-col items-center justify-center">
                                    <p class="text-center">Choose an image</p>
                                    <i class="mt-4" data-feather="image"></i>
                                </div>
                            </template>
                            <input @change="(e) => $store.viewer.fileChosen(e)" class="hidden" id="preview" name="preview" type="file" accept="image/*"/>
                        </label>
                    </div>
                    <div class="md-hidden flex justify-center">
                        <button 
                            @click="$store?.viewer?.removeBg()" 
                            class="btn btn-primary btn-lg"
                            :disabled="!$store.viewer.preview || !!$store.viewer.loading"
                        >
                            Remove
                        </button>
                    </div>
                    <div class="w-full">
                        <div class="card img-card flex flex-col items-center justify-center">
                            <template x-if="!!$store.viewer.result && !$store.viewer.loading">
                                    <img
                                        :src="$store?.viewer?.result"
                                        class="img-cover"
                                    >
                            </template>
                            <template x-if="!$store.viewer.preview && !$store.viewer.result && !$store.viewer.loading">
                                <p>Choose an image, before processing.</p>
                            </template>
                            <template x-if="!!$store.viewer.preview && !$store.viewer.result && !$store.viewer.loading">
                                <p class="text-primary">Press `Remove` button</p>
                            </template>

                            <template x-if="!!$store.viewer.loading">
                                <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                            </template>
                
                        </div>
                    </div>
                </div>
                <div class="mt-4 hidden md-flex">
                    <button 
                        @click="$store?.viewer?.removeBg()" 
                        class="btn btn-primary btn-lg"
                        :disabled="!$store.viewer.preview || !!$store.viewer.loading"
                    >
                        Remove
                    </button>
                </div>
            </div>
        </section>
    </main>

</body>
</html>